html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


/* Section Home */

#header a {
  color: #a5a5a5;
}

#header {
  font-size: 20px;
  color: #fff;
  margin-left: 130px;
  padding-top: 10px;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-text-responsive {
  display: flex;
  align-items: center;
}

.header-text-responsive span {
  margin-left: 10px;
  font-weight: bold;
}

#header a:hover {
  color: #fff;
  cursor: pointer;
}

#header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

#header nav li {
  margin: 16px;
}

#header nav a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

.dropdown-menu {
  position: absolute;
  background-color: #000000;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}

.dropdown-menu a {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.dropdown-content {
  display: inline-block;
}

#home {
  background-image: url("./images/imagemFundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#btn-get a {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  top: 20px;
  right: 200px;
  text-decoration: none;
}

#btn-get a:hover {
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-home {
  position: absolute;
  left: 150px;
  top: 40%;
  transform: translateY(-50%);
  color: white;
  letter-spacing: 2px;
  text-align: left;
}

.text-home h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.text-home p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

.btn-shop a {
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
}

.text-home .btn-shop {
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  border-color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
}

.text-home .btn-shop:hover {
  background-color: white;
  color: black;
  border-color: black;
  transition: background-color 1.3s ease, color 0.3s ease;
}

.btn-shop img {
  margin-left: 10px;
}

.text-home .btn-shop:hover img {
  content: url("./images/logoPreto.png");
}

.btn-shop:hover a {
  color: #000000;
  transition: color 0.3s ease;
}


/* Section Shop */

#shop {
  margin-left: 130px;
  margin-top: 100px;
  font-size: 20px;
}
#shop header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

.lupa-responsive {
  display: none;
}

#subtitle-shop {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#container-shop {
  margin-top: 40px;
  border: #a5a5a5 1px solid;

  margin-left: 40px;
  margin-right: 30px;
}

.btn-search {
  border-radius: 50px;
  padding: 1px;
  height: 50px;
  width: auto;
  background-color: #f4f4f4;
}

.btn-search img {
  margin-left: 20px;
}

.btn-search input {
  background-color: transparent;
  padding: 10px 30px;
  border-color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
}

#featured-menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#featured-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#featured-menu li {
  margin-right: 20px;
}

#featured-menu li a {
  text-decoration: none;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
}

#featured-menu li a.active,
#featured-menu li a:hover {
  background: linear-gradient(to right, #101828, #233250);
  color: #fff;
  border: linear-gradient(to right, #233250, #101828);
}

#images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.category-section {
  display: none;
}

.category-section.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.category-section img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 15px;
  box-sizing: border-box;
}

.category-section img:hover {
  border: 5px solid #233250;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.container-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 100px;
}

.container-btn a {
  text-decoration: none;
  color: #101828;
  font-size: 20px;
}

.container-btn button {
  text-decoration: none !important;
  padding: 10px 20px;
  background-color: transparent;
  border: transparent;
}

.ui-card {
  width: 100%;
  background: radial-gradient(#646770 50%, #646770 100%);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.ui-card img {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

.ui-card:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}

.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.description h2 {
  font-weight: 500;
  font-size: 25px;
  margin: 0 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  text-align: left;
}

.description h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 0 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  margin-bottom: 10px;
}

.description p {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
  margin-bottom: 50px;
}

.description span {
  color: #fff;
  background: #101828;
  display: inline;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: transparent;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.1s;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.4);
}

.description a {
  color: #fff;
  background: linear-gradient(to right, #101828, #233250);
  display: inline;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
  border: transparent;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.1s;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.4);
}

.description a:hover,
.description span:hover {
  background: #233250;
  letter-spacing: 3px;
}

.ui-card:hover .description h2 {
  transform: translateY(0);
  opacity: 1;
  text-align: left;
}

.ui-card:hover .description h3 {
  transform: translateY(0);
  opacity: 1;
}

.ui-card:hover .description p {
  transform: translateY(0);
  opacity: 1;
}

.ui-card:hover .description a,
.ui-card:hover .description span {
  transform: translateY(0);
  opacity: 1;
}

.description button {
  background-color: transparent;
  border: transparent;
  margin-top: 70px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.title-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 70px;
  place-items: center;
  align-items: baseline;
}

.title-product h2 {
  font-weight: 500;
  font-size: 35px;
  position: relative;
  margin-bottom: 15px;
  right: 20px;
}

.title-product .favorite-icon {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
  position: relative;
  margin-bottom: 15px;
  left: 50px;
}

.ui-card:hover .title-product h2,
.ui-card:hover .title-product .favorite-icon {
  transform: translateY(0);
  opacity: 1;
}

.favorite-icon {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 2px black;
  cursor: pointer;
  transition: transform 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  color: red;
}

.heart::before {
  content: "\2764"; /* Código Unicode para coração */
}

.btn-add {
  background-color: #233250;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
  padding: -3px;
  margin: -5px;
  border-radius: 0px !important;
}

.btn-action-add {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.btn-action-remove {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


/* Section Services */

#services {
  margin-left: 130px;
  margin-top: 100px;
  font-size: 20px;
}

#services header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

#container-services {
  margin-top: 40px;
  border: #a5a5a5 1px solid;
  padding: 30px;
  margin-left: 40px;
  margin-right: 30px;
}

.services-grid {
  display: grid;
  grid-template-areas:
    "grooming boarding adoption"
    "veterinary training adoption";
  grid-template-rows: repeat(1fr 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 15px;
}

.services-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.services-grid img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.grooming {
  grid-area: grooming;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boarding {
  grid-area: boarding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.adoption {
  grid-area: adoption;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 2;
}

.ui-services.adoption .description-services {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  transform: translateY(40%);
}

.veterinary {
  grid-area: veterinary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.training {
  grid-area: training;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-services {
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.ui-services img {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

.ui-services:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}

.description-services {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transform: translate(0%, -30%);
  text-align: center;
}

.description-services h3 {
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 20px;
  transform: translateY(30px);
  opacity: 1;
  transition: all 0.3s ease-out 0.4s;
}

.description-services p {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}

.description-services a {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  background: linear-gradient(to left, #233250, #101828);
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.4;
}

.container-btn-services {
  margin-top: 40px;
}

.description-services a:hover {
  background: #233250;
  transition: letter-spacing 0.3s ease;
  letter-spacing: 3px;
}

.ui-services:hover .description-services h3 {
  transform: translateY(0);
  opacity: 1;
}

.ui-services:hover .description-services p {
  transform: translateY(0);
  opacity: 1;
}

.ui-services:hover .description-services a {
  transform: translateY(0);
  opacity: 1;
}


/* Section About Us */

#about {
  margin-left: 130px;
  margin-top: 100px;
  font-size: 20px;
}

#about header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

.about-container {
  margin-top: 40px;
  border: #a5a5a5 1px solid;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.text-about {
  text-align: left;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.img-about img {
  height: 550px;
  width: 500px;
}


/* Section Our Team */

#ourTeam {
  margin-left: 130px;
  margin-top: 100px;
  font-size: 20px;
}

#ourTeam header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

.team-container {
  margin-top: 40px;
  padding: 30px;
  margin-left: 40px;
  margin-right: 30px;
  display: flex;
  gap: 150px;
}

.team {
  flex: 1;
  max-width: 250px;
}

.team > img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.team h3 {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin-top: 30px;
}

.team p {
  font-size: 18px;
  color: #77777793;
  margin-top: 10px;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-right: 20px;
}


/* Section Blog  */

#blog {
  margin-left: 130px;
  margin-top: 100px;
  font-size: 20px;
}

#blog header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

.blog-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
}

.blog-text {
  flex: 1;
}

.blog-text h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.blog-text p {
  font-size: 18px;
  color: #667085;
  font-weight: 400;
  margin-bottom: 20px;
}

.blog-text h4 {
  font-size: 24px;
  font-weight: 600;
}

.blog-image {
  flex: 1;
  display: flex;
  height: 600px;
  width: 400px;
  background-image: url("./images/imageBlog.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.blog-text a {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  background: linear-gradient(to left, #233250, #101828);
  padding: 15px 15px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out 0.4;
}

.blog-text a:hover {
  background: #233250;
  transition: letter-spacing 0.3s ease;
  letter-spacing: 3px;
}


/* Section Get in Touch */

#get-touch {
  font-size: 20px;
  background-color: #101828;
  color: #fff;
  padding-left: 130px;
  padding-top: 20px;
  font-size: 20px;
}

#get-touch header {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
  padding-top: 50px;
}

.get-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 70px;
  padding: 60px;
}

.get-form {
  flex: 1;
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  max-width: 400px;
  height: 400px;
}

.form-group {
  margin-bottom: 20px;
  color: #344054;
  font-size: 14px;
  font-weight: 500;
}

.get-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.get-form .form-names {
  display: flex;
  gap: 30px;
}

.get-form input[type="text"],
.get-form input[type="email"],
.get-form textarea {
  width: calc(100% - 12px);
  padding: 10px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.get-form button {
  background: linear-gradient(to left, #233250, #101828);
  color: #fff;
  padding: 7px 150px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.get-form button:hover {
  background: #233250;
  transition: letter-spacing 0.3s ease;
  letter-spacing: 3px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.span-required {
  display: none;
  font-size: 12px;
  color: red;
  margin: 3px 0 0 1px;
}

.get-inform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;
  row-gap: 50px;
}

.get-inform h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.get-inform p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  color: #cecece;
}
.get-inform h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}


/* Section Newsletter */

#newsletter {
  border-top: 1px solid #a5a5a5;
  background-color: #101828;
  color: #fff;
  padding-left: 180px;
  padding-top: 20px;
  font-size: 20px;
}

#newsletter header {
  padding-bottom: 10px;
  padding-right: 60px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.news-text h2 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}

.news-text p {
  font-size: 20px;
  font-weight: 500;
  color: #cecece;
}

.news-input input {
  padding: 10px 80px 10px 10px;
  border-radius: 10px;
  background-color: #d0d5dd;
}

.news-input button {
  background-color: #fff;
  color: #000000;
  font-weight: 600;
  padding: 10px 18px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}


/* Section Footer */

#footer {
  background-color: #101828;
  color: #fff;
  padding-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 70px;
}

.footer-text h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.footer-text p {
  font-size: 16px;
  font-weight: 400;
  color: #cecece;
}

.footer-text img {
  display: inline;
  width: 30px;
}

.footer-section h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-section a {
  font-size: 16px;
  font-weight: 500;
  color: #cecece;
  text-decoration: none;
}

.footer-section ul,
.footer-section li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-section a:hover {
  color: #ffffff;
}

footer {
  padding-top: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #a5a5a5;
  margin-left: 160px;
  margin-right: 60px;
}

.footer-text-end h3 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.footer-logos img {
  width: 30px;
  margin-right: 25px;
}


/* Responsividades */

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (max-width: 390px) {
  .resposive-reverse-column /* Inverter conteúdo */
  {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Seção Home */


  .menu-toggle {
    display: block;
  }

  .nav-responsive {
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: #001e40;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
  }

  .nav-responsive.active {
    visibility: visible;
    opacity: 1;
  }

  .menu-toggle {
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #header {
    font-size: 16px; 
    margin-left: 0;
    flex-direction: row;
  }

  #header nav ul {
    flex-direction: column; 
    padding: 0;
  }

  #header .header-text-responsive {
    flex-grow: 1;
  }

  #header nav li {
    margin: 10px 0;
  }

  #btn-get a {
    display: none;
  }

  #home {
    background-image: url("./images/imagemFundoMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(100px - 480px);
    height: 100vh;
  }
  
  .text-home {
    left: 20px;
    top: 50%;
    width: 90%;
  }

  .text-home br {
    display: none;
  }

  .text-home h1 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .text-home p {
    font-size: 14px;
    font-weight: 500;
  }

  .btn-shop {
    display: block;
  }


  /* Sectio Shop */

  #shop {
    margin-left: 0px;
  }

  #shop header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .lupa-responsive {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .lupa-responsive {
    display: block;
  }

  .btn-search {
    display: none;
  }

  .btn-search.active {
    display: block;
  }

  #container-shop {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }
  #subtitle-shop h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #subtitle-shop {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-search img {
    display: none;
  }

  #featured-menu ul {
    align-items: center;
  }

  #featured-menu li {
    margin-right: 0;
    font-size: 15px;
    font-weight: 600;
  }

  .category-section.active {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .category-section img {
    max-width: 100%;
  }

  .ui-card {
    width: 100%;
  }
  .description {
    transform: translateY(150px);
  }

  .description h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .description p {
    font-size: 15px;
    font-weight: 400;
  }

  .btn-add-card {
    transform: translateY(-130px);
  }

  .title-product {
    transform: translateY(30px);
    padding-right: 30px;
  }

  .title-product h2 {
    font-size: 25px;
  }

  .btn-add {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    transform: translateY(-50px);
  }

  .btn-add .quantity {
    font-size: 14px;
    font-weight: 900;
  }

  .container-btn {
    display: none;
  }


  /* Section Services */

  #services {
    margin-left: 0px;
  }

  #services header {
    border-bottom: 1px solid #a5a5a5;
    margin-left: 0;
    padding-left: 20px;
  }

  #container-services {
    margin: 0;
    border: none;
  }

  .services-grid {
    display: grid;
    grid-template-areas:
      "grooming boarding"
      "veterinary training"
      "adoption adoption";
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .services-grid > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .adoption {
    grid-area: adoption;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .ui-services {
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }

  .ui-services img {
    width: 100%;
  }

  .ui-services:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
  }

  .description-services {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    transform: translate(-10px, 10px);
  }

  .description-services .adoption {
    transform: translateY(-100px);
    margin-bottom: -70px;
  }

  .description-services h3 {
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 1;
    transition: all 0.3s ease-out 0.4s;
  }

  .description-services p {
    transform: translateY(30px);
    font-size: 7px;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
  }

  .description-services a {
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    background: linear-gradient(to left, #233250, #101828);
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
  }

  .ui-services.adoption .description-services h3 {
    font-size: 30px;
    font-weight: 500;
  }

  .ui-services.adoption .description-services p, 
  .ui-services.adoption .description-services a {
    font-size: 13px;
  }

  .container-btn-services {
    margin-top: 0px;
  }

  .description-services a:hover {
    background: #233250;
    transition: letter-spacing 0.3s ease;
    letter-spacing: 3px;
  }

  .ui-services:hover .description-services h3,
  .ui-services:hover .description-services p,
  .ui-services:hover .description-services a {
    transform: translateY(0);
    opacity: 1;
  }


  /* Section About */

  #about {
    padding-left: 20px;
    margin-left: 0px;
    margin-top: 50px;
  }

  #about header {
    font-size: 20px;
    font-weight: 500;
  }

  .about-container {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: none;
  }

  .img-about img {
    display: none;
  }

  .text-about {
    font-size: 15px;
    transform: translateY(-50px);
    color: #667085;
    margin: 0;
    margin-top: 30px;
    padding: 0;
  }


  /* Section Blog */

  #blog {
    padding-left: 20px;
    margin-left: 0px;
    margin-top: 40px;
  }

  #blog header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .blog-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .blog-image {
    display: none;
  }

  .blog-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .blog-text p {
    font-size: 15px;
    font-weight: 500;
  }

  .blog-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .blog-text a {
    font-size: 18px;
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 400;
  }


  /* Section Our Team */

  #ourTeam {
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  #ourTeam header {
    font-size: 20px;
    font-weight: 600;
    margin-top: 70px;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
  }

  .team img {
    width: 150px;
    height: 180px;
  }

  .team h3 {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .team p {
    font-size: 12px;
    font-weight: 400;
    color: #667085;
  }

  .icons img {
    width: 20px;
    height: 20px;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-top: -10px;
  }


  /* Section Get-In-Touch */

  #get-touch {
    padding-left: 0;
    margin-left: 0;
  }

  #get-touch header {
    padding-left: 20px;
  }

  .get-container {
    padding-left: 0;
    flex-direction: column;
    padding-right: 0;
  }

  .get-inform {
    padding-left: 20px;
    gap: 30px;
    order: -1;
  }

  .get-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .get-inform h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
  }

  .get-inform p {
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;
    color: #cecece;
  }
  .get-inform h4 {
    font-size: 11px;
    font-weight: 500;
    margin-top: 20px;
  }

  .get-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 80%;
    max-height: 80%;
  }

  .form-group {
    margin-bottom: 20px;
    padding: 0;
    color: #344054;
    font-size: 11px;
    font-weight: 500;
  }

  .get-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    max-height: 90%;
  }

  .get-form button {
    padding: 15px 100px;
    font-size: 11px;
  }

  .get-form input::placeholder,
  .get-form textarea::placeholder {
    font-size: 11px;
  }


  /* Section Newsletter */

  #newsletter {
    padding-left: 20px !important;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 16px;
    padding: 0;
  }

  #newsletter header {
    flex-direction: column;
    padding-top: 30px;
    padding-right: 0;
  }

  .news-text h2 {
    font-size: 20px;
    padding: 0;
    font-weight: 500;
  }

  .news-text p {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 20px;
  }

  .news-input {
    width: 100%;
    max-width: 350px;
    padding-left: 0;
  }

  .news-input input {
    width: 93%;
    padding: 12px; 
    border-radius: 8px;
    text-align: left; 
    padding-left: 10px; 
  }

  .news-input button {
    width: 95%;
    border-radius: 8px;
    margin-top: 10px;
  }


  /* Section Footer */

  #footer {
    background-color: #101828;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    padding-right: 0;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 0;
    text-align: left;
  }

  .footer-text {
    grid-column: span 2;
  }

  .footer-text h3 {
    font-size: 18px;
    font-weight: bold;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .footer-text img {
    width: 30px;
  }

  .footer-text p {
    font-size: 15px;
    font-weight: 400;
    color: #cecece;
    text-align: start;
    padding-bottom: 20px;
  }

  .footer-section h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section li {
    margin-bottom: 15px;
  }

  .footer-section a {
    text-decoration: none;
    color: #cecece;
    font-size: 14px;
  }

  .footer-section a:hover {
    color: #ffffff;
  }

  footer {
    display: flex;
    flex-direction: column; 
    margin-left: 0;
    margin-right: 0;
    text-align: center; 
    padding-bottom: 20px;
  }

  .footer-text-end h3 {
    font-size: 16px; 
    font-weight: 400;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .footer-logos {
    display: flex;
    gap: 25px; 
  }

  .footer-logos img {
    width: 25px; 
    margin: 0;
    padding: 0;
  }
}